
<section>
    <form class="begin row g-3 pt-5">
        <div class="container">
            <div>
                <h3>
                    <h2>RAYA DRESS</h2> is one of the world’s leading designer lifestyle brands and is internationally 
                    recognized for celebrating the essence of classic American cool style, featuring preppy with a twist designs.
               </h3>
               <p class="p-5">
                Founded in 1985, RayaDress delivers premium styling, quality and value to consumers worldwide under the 
                RAYA DRESS and RAYA JEANS labels, with a breadth of collections including RayaDress Collection, men’s, 
                women’s and kids’ sportswear, denim, accessories, and footwear. In addition, the brand is licensed for a range of products, 
                including fragrances, eyewear, watches and home furnish-ings. Founder RayaDress remains the company’s Principal Designer 
                and provides leadership and direction for the design process.
                
                RayaDress, which was acquired by PVH Corp. in 2010, is a global apparel and retail company with more than 16,000 
                associates worldwide. With the support of strong global consumer recognition, RayaDress has built an extensive 
                distribution network in over 100 countries and more than 2,000 retail stores throughout North America, Europe, Latin 
                America and the Asia Pacific region. Global retail sales of the RAYA DRESS brand were US $6.9 billion in 2020.
                 
               </p>
            </div>
            <h2>Raya Dress Official Store</h2>
            <h5>Sofia, Bul."Vitosha" 29</h5>
            <h5>0874536583</h5>
        </div>
    </form>
  </section>