.container-app {
    max-width: 90%;
    margin: 30px auto;
    overflow: auto;
    min-height: 200px;
    /* border: 1px solid rgb(154, 70, 180); */
    padding: 30px;
}

.btn-group{
    width: 50%;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

.btn-img {
    max-width: 100%;
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.men {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
}

.women {
    position: absolute;
    top: 50%;
    left: 130%;
    transform: translate(-50%, -50%);
    color: white;
}
