.enter {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
} 

.product {
    background: #f4f4f4;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

label {
    margin: 10px;
}

.label {
    color: teal;
}

input {
    width: 60%;
}

