<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="product">
        <div class="card bg-light">
            <div class="card-body text-center">
                <div class="h1 mb-3">
                    <img src="{{ suit.src }}" class="mb-3 img-responsive" alt="">
                </div>
                <h3 class="card-title mb-3">{{ suit.name }}</h3>
                <p class="card-text">{{ suit.currency }}{{ suit.price }}</p>
                <div style="display: inline;">
                    <div style="display: inline;" *ngFor="let star of stars"><mat-icon (click)="unstar()">star</mat-icon></div>
                    <div style="display: inline;" *ngFor="let border_star of border_stars"><mat-icon (click)="star()">star_border</mat-icon></div> 
                </div>
                <button type="submit" class="btn btn-block" >Add to cart</button>
            </div>
        </div>
    </div>
</form>
